
@{
    ViewData["Title"] = "Index";
}

<h1>Escolha do Restaurante</h1>
<p>
    Bem-vindo ao sistema de escolhade restaurante.</p>
<p>
    A primeira etapa do sistema de adquiri a preferencia diária de cada colaborador, e definir de maneira demogrática o restaurante mais votado.
</p>

<hr />

<div class="text-center">
    <a class="btn btn-primary" asp-action="Votar">Votar no seu restaurante de preferência</a>
    <a class="btn btn-primary" asp-action="Votos">Lista dos votos</a>
    <a class="btn btn-primary" asp-action="Resultado">Ver o resultado da votação</a>
</div>